<?php
/* Site name */
const SITE_NAME = '';

/* App Root */
define("APP_ROOT", dirname(__FILE__, 2));
const URL_ROOT = '';

/* DB Params */
const DB_HOST = 'localhost';
const DB_USER = 'root';
const DB_PASS = '';
const DB_NAME = '';

/* Flash messages */
const FLASH = 'FLASH_MESSAGES';

/* Types messages */
const FLASH_ERROR = 'error';
const FLASH_WARNING = 'warning';
const FLASH_INFO = 'info';
const FLASH_SUCCESS = 'success';

/* Error names */
const SIGN_IN_ERROR = 'sign_in_error';
const INVALID_EMAIL = 'invalid_email';
const INVALID_NAME = 'invalid_name';
const INVALID_PASSWORDS = 'invalid_passwords';

/* Old data from Form */
const OLD_FORM_DATA = 'OLD_FORM_DATA';

/* User session */
const AUTHENTICATED_USER = 'authenticated_user';

