<?php
/* Site name */
const SITE_NAME = '';

/* App Root */
define("APP_ROOT", dirname(__FILE__, 2));
const URL_ROOT = '';

/* DB Params */
const DB_HOST = 'localhost';
const DB_USER = 'root';
const DB_PASS = '';
const DB_NAME = '';

/* User session */
const AUTHENTICATED_USER = 'authenticated_user';

